@use "~@blueprintjs/core/lib/scss/variables" as vars;

@mixin dark() {
    &:global(.bp3-dark) {
        @content;
    }
}

$dark-background: vars.$pt-dark-app-background-color;

$main-padding: 24px;

$space: 4px;

$space-1: 1 * $space;
$space-4: 4 * $space;
$space-8: 8 * $space;
$space-16: 16 * $space;
