.article {
    margin-bottom: 2em;

    table {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    :global .caption {
        display: block;
        text-align: center;

        & + *,
        & + * *:first-child {
            margin-top: 0px;
        }
    }

    // Code block with caption
    // Fixes weird padding changes during page load.
    :global span.caption {
        margin-top: 1.25em;

        > div.prism-code {
            margin-top: 0px;
        }
    }

    // Code block without caption
    // Fixes weird padding changes during page load.
    :global div > pre.prism-code {
        margin-top: 1.25em;
    }
}
