@use "~@blueprintjs/core/lib/scss/variables" as bp;

$border-color: bp.$dark-gray5;

.tabs > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        list-style: none;
        margin-bottom: 0;

        &:last-child > a {
            border-right: none;
        }

        a {
            border-right: 1px solid $border-color;
            display: block;
            margin: 8px 0;
            padding: 0 8px;
        }
    }
}
